<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="app">
      <section class="home">
        <div class="border"></div>
        <h1>{{logo}}</h1>
        <input class="search" type="text" v-model="inputText" placeholder="search...">
        <div v-if="showProjects">
        <section v-if="filteredProjects[0]" class="project">
          <div class="image"></div>
          <div class="textContent">
            <div class="header-box">
              <h4 class="title">{{filteredProjects[0].title}}</h4>
              <div class="btns">
                <span> <i class="fas fa-times"></i> </span>
                <span> <i class="fas fa-pencil-alt"></i> </span>
              </div>
            </div>
            <p class="text">{{filteredProjects[0].text}}</p>
          </div>
        </section>
        <section v-if="filteredProjects[1]" class="project">
          <div class="image"></div>
          <div class="textContent">
            <div class="header-box">
              <h4 class="title">{{filteredProjects[1].title}}</h4>
              <div class="btns">
                <span> <i class="fas fa-times"></i> </span>
                <span> <i class="fas fa-pencil-alt"></i> </span>
              </div>
            </div>
            <p class="text">{{filteredProjects[1].text}}</p>
          </div>
        </section>
        </div>
      </section>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="src/index.js"></script>
  </body>
</html>
